<div class="jumbotron stocks">
	<div class="content">
		<h1>My Stocks
			<button class="btn btn-xs button float-right" type="button" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
				Search Stocks
			</button>
		</h1>
		
		<div class="collapse" id="collapseExample">
		  <%= form_tag search_stock_path, remote: true, method: :get do %>
				<div class="form-group row">
					<div class="col-10">
						<%= text_field_tag :stock, params[:stock], placeholder: "Enter stock ticker", autofocus: true, class: "form-control form-control-xs"%>
					</div>
					<div class="col-2">
						<%= button_tag type: :submit, class: "btn btn-xs button right" do %>
							<%= fa_icon 'search' %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>

		<hr/>

		<div id="results">
			
		</div>

		<% if !@tracked_stocks.empty? %>
			<%= render 'stocks/list' %>
		<% end %>
	</div>
</div>