<!DOCTYPE html>
<html>
  <head>
    <title>FinanceTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Signika|Yanone+Kaffeesatz&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <br/>
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
    <br/>
    <%= render 'layouts/footer' %>
  </body>
</html>
